/** @format */

@import url('./typography.css');

:root {
  /*colors*/
  --blue-300: hsl(228, 45%, 44%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);

  /*spacing*/
  --spacing-24: 24px;
  --spacing-12: 12px;

  /*border-radius*/
  --radius-20: calc(20 / 16 * 1rem);
  --radius-10: calc(10 / 16 * 1rem);
  --radius-4: calc(4 / 16 * 1rem);
}

* {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

body {
  background-color: var(--yellow);
  color: var(--gray-950);
  font-size: var(--font-size-body);
  font-family: var(--font-family-fig);
  font-weight: var(--font-weight-medium);
  height: 100vh;
  line-height: var(--line-height-body);
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

h1 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-extra-bold);
}

a,
a:visited {
  color: var(--gray-950);
}

a:hover,
a:active,
a:focus {
  color: var(--yellow);
}

.card {
  background-color: var(--white);
  border: calc(1 / 16 * 1rem) solid var(--gray-950);
  border-radius: var(--radius-20);
  box-shadow: 8px 8px var(--gray-950);
  padding: var(--spacing-24);
  width: 327px;
}

.content {
  margin-block-end: var(--spacing-24);
}

.hero {
  border-radius: var(--radius-10);
  margin-block-end: var(--spacing-24);
  width: 100%;
}

.tag {
  background-color: var(--yellow);
  border-radius: var(--radius-4);
  display: inline-block;
  font-size: var(--font-size-detail);
  font-weight: var(--font-weight-extra-bold);
  margin-block-end: var(--spacing-12);
  padding: 4px 12px;
  text-align: center;
}

.date {
  font-size: var(--font-size-detail);
  margin-block-end: var(--spacing-12);
}

.heading {
  margin-block-end: var(--spacing-12);
}

.heading + p {
  color: var(--gray-500);
  margin-block-end: var(--spacing-12);
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author img {
  height: 32px;
  margin-inline-end: var(--spacing-12);
  width: 32px;
}

.author p {
  font-weight: var(--font-weight-extra-bold);
}

footer {
  bottom: 40px;
  position: relative;
}

.attribution {
  font-size: var(--font-size-detail);
  text-align: center;
}

.attribution a,
.attribution a:visited {
  color: var(--blue-300);
}

.attribution a:hover,
.attribution a:focus {
  color: var(--gray-950);
}

@media (min-width: 640px) {
  .card {
    width: 384px;
  }

  .heading {
    margin-block-end: var(--spacing-12);
  }
}
