/** @format */

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 400 500 600 700 800 900; /* full supported range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree Italic';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 300 400 500 600 700 800 900; /* full supported range */
  font-style: italic;
  font-display: swap;
}

:root {
  /*typography*/
  --font-family-fig: 'Figtree', sans-serif;
  --font-family-fig-italic: 'Figtree Italic', sans-serif;

  --font-size-body: 1rem;
  --font-size-heading: calc(24 / 16 * 1rem);
  --font-size-detail: calc(14 / 16 * 1rem);

  --font-size-mobile-body: calc(14 / 16 * 1rem);
  --font-size-mobile-extra: calc(12 / 16 * 1rem);
  --font-size-mobile-heading: calc(20 / 16 * 1rem);

  --font-weight-medium: 500;
  --font-weight-extra-bold: 800;

  /*line heights*/
  --line-height-body: 1.5;
}
